/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
   --all-bg-color: #ffffff;
   --grid-image:
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    --border-decor: #000000;
    --all-animation-decor: #000000;
    --sparks-animation-decor: #FF0000;
    --main-body-animation-decor: #FF0000;
    --floppy-color: #ffffff;
    --main-font-family: 'Inter-Variable', sans-serif;
    --card-header-text-weight: 700;
    --card-content-text-weight: 400;
    --accent-font-family: 'PressStart2P-Regular', sans-serif;
    --accent-text-size: clamp(1rem, 0.384rem + 2.629vw, 2.75rem);
    --accent-text-weight: 400;
    --all-content-text-color: #000000;
    --button-text-color: #ffffff;
    --button-border-decor: 2px solid #000000;
  }
   
